.pagination > button {
  width: 32px !important;
  height: 32px !important;
  padding: 4px !important;
}

.pagination > select {
  height: 32px !important;
  padding: 4px !important;
}

button:disabled {
  background-color: #8f8f8f;
}