<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/flight']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Flights</a>
  <a [routerLink]="['/destination']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Destinations</a>
  <a [routerLink]="['/reservation']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Reservations</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
</nav>
