<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/client/flight']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Flights</a>
  <a [routerLink]="['/client/destination']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Destinations</a>
  <a [routerLink]="['/client/reservation']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Reservations</a>
</nav>
