<!--<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>-->

<!--<form (submit)="addName()">-->
  <!--<input [(ngModel)]="newDestination" name="newDestination" placeholder="Awesome Computer Scientist">-->
  <!--<button type="submit">Add</button>-->
<!--</form>-->

<!--<ul>-->
  <!--<li *ngFor="let name of names">{{name}}</li>-->
<!--</ul>-->

<!--<ul>-->
  <!--<li *ngFor="let destination of names">{{destination.name}}</li>-->
<!--</ul>-->
