:disabled {
  background-color: #8f8f8f;
}

.error {
  color: red;
  font-size: 0.8em;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], select {
  float: right;
  width: 210px;
}

td {
  width: 330px;
}

table {
  background-color: #efefef;
}
