<div>
  <h3>Departure filter</h3>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="filterFG">

    <table>

      <tr>
        <td>
          <label>
            <span>From</span>
            <input type="text" formControlName="from" [placeholder]="datetimePlaceholder"/>
          </label>
          <div class="error"
               *ngIf="filterFG.get('from').hasError('required') && filterFG.get('from').touched">
            From date is required
          </div>
          <div class="error"
               *ngIf="filterFG.get('from').hasError('validateDateTime') && filterFG.get('from').touched">
            From date format wrong
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <label>
            <span>To</span>
            <input type="text" formControlName="to" [placeholder]="datetimePlaceholder"/>
          </label>
          <div class="error"
               *ngIf="filterFG.get('to').hasError('required') && filterFG.get('to').touched">
            To date is required
          </div>
          <div class="error"
               *ngIf="filterFG.get('to').hasError('validateDateTime') && filterFG.get('to').touched">
            To date format wrong
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <button type="button" (click)="clearFilter()">Clear</button>
          <button type="submit" [disabled]="disableApply()">Apply</button>
        </td>
      </tr>

    </table>

  </form>
</div>