<form novalidate (ngSubmit)="onSubmit()" [formGroup]="flightFG">

  <table>

    <tr>
      <td>
        <label>
          <span>Name</span>
          <input type="text" formControlName="name">
        </label>
        <div class="error" *ngIf="flightFG.get('name').hasError('required') && flightFG.get('name').touched">
          Name is required
        </div>
        <div class="error" *ngIf="flightFG.get('name').hasError('minlength') && flightFG.get('name').touched">
          Minimum of 3 characters
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <span>Departure date</span>
          <input type="text" formControlName="dateOfDeparture">
        </label>
        <div class="error" *ngIf="flightFG.get('dateOfDeparture').hasError('required') && flightFG.get('dateOfDeparture').touched">
          Departure date is required
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <span>Seats</span>
          <input type="number" formControlName="seats">
        </label>
        <div class="error" *ngIf="flightFG.get('seats').hasError('required') && flightFG.get('seats').touched">
          Seats are required
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <span>From</span>
          <input type="number" formControlName="from">
        </label>
        <div class="error" *ngIf="flightFG.get('from').hasError('required') && flightFG.get('from').touched">
          From is required
        </div>
        <!--<div class="error" *ngIf="flightFG.get('from').hasError('minlength') && flightFG.get('from').touched">-->
          <!--Minimum of 3 characters-->
        <!--</div>-->
      </td>
    </tr>

    <tr>
      <td>
        <label>
          <span>To</span>
          <input type="number" formControlName="to">
        </label>
        <div class="error" *ngIf="flightFG.get('to').hasError('required') && flightFG.get('to').touched">
          To is required
        </div>
        <!--<div class="error" *ngIf="flightFG.get('to').hasError('minlength') && flightFG.get('to').touched">-->
          <!--Minimum of 3 characters-->
        <!--</div>-->
      </td>
    </tr>

    <tr>
      <td>
        <button type="submit" [disabled]="flightFG.invalid">Save</button>
        <button *ngIf="detail" type="button" (click)="remove()">Delete</button>
        <button *ngIf="detail" type="button" (click)="back()">Back</button>
      </td>
    <tr>
  </table>
</form>